body {
    background-image: url('images/grunge-bg.jpg');
    background-size: cover;
}

h1 {
    font-family: verdana;
    color: white;
    text-align: center;
}

#img1 {
    max-height: 600px;
    max-width: 100%;
    z-index: -1;
    align-content: center;
    position: absolute;
}

#img2 {
    height: 700px;
    margin: 0%;
    z-index: 1;
    position: absolute;
}

#img3 {
    height: 700px;
    z-index: 2;
    position: relative;
}

.mouthmoving {
    -webkit-animation-name: example;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s;
    /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 3;
    /* Chrome, Safari, Opera */
    -webkit-animation-direction: reverse;
    /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-direction: reverse;
    /* Chrome, Safari, Opera */
    @-webkit-keyframes example {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 3px;
            top: 15px;
        }
        50% {
            left: 0px;
            top: 0px;
        }
        75% {
            left: 3px;
            top: 15px;
        }
        100% {
            left: 0px;
            top: 0px;
        }
    }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 3px;
        top: 15px;
    }
    50% {
        left: 0px;
        top: 0px;
    }
    75% {
        left: 3px;
        top: 15px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url('images/trumpload.gif');
    background-repeat: no-repeat;
    background-position: center;
}
